@model ZAPOSLEN

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ZAPOSLEN</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Oseba)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Oseba.Ime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funkcija)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funkcija.Funkcija)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Placa)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Placa)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_osebe">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
