@model je_kreiral

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>je_kreiral</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Avtor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Avtor.ID_osebe)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gradivo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gradivo.Naziv)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum_kreiranja)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum_kreiranja)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
