@model IEnumerable<je_kreiral>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Avtor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gradivo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum_kreiranja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Avtor.ID_osebe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gradivo.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum_kreiranja)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
