@model E_knjiznica.Models.NASLOV

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NASLOV</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Posta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Posta.Kraj)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Clan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Clan.ID_osebe)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
