@model IEnumerable<E_knjiznica.Models.AVTOR>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Oseba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pseudonim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum_rojstva)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum_smrti)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Oseba.Ime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pseudonim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum_rojstva)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Datum_smrti)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_osebe">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_osebe">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_osebe">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
