@model dela_v

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>dela_v</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Zaposlen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Zaposlen.Geslo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Podruznica)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Podruznica.ID_podruznice)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum_zaposlitve)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum_zaposlitve)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datum_odhoda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datum_odhoda)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
